.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .file-upload {
  margin-bottom: 10px;
} */

.file-label {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #3a869b;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 1px;
}

.file-label:hover {
  background-color: #4fa8d1;
}

#file-input {
  display: none;
}

.styled-button  {
  padding: 2px;
  color: white;
  background-color: #1a3c46;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.styled-button:hover {
  background-color: #194d20;
}

.styled-button:active {
  background-color: #3a86a8;
}

.button-group {
  display: flex;
}


.text {
  font-size: 14px;
  color: #eaff63;
}
